<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>通用查看下载页面</title>
		<link rel="stylesheet" href="/css/main.css"   />
		<link rel="stylesheet" href="/css/bootstrap-theme.css"  />
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css"  />
		<link rel="stylesheet" href="/css/bootstrap.css"    />
		<link rel="stylesheet" href="/css/bootstrap.min.css"  />
	</head>
	<body>
		<div class="download-main">
			<h3 style="text-align: center;"><strong th:text="${title}"></strong></h3>
			<div th:fragment="download" id="download">
				<table class="table table-hover table-condensed" >
					<th class="active">名称</th>
					<th class="active">简介</th>
					<th class="active">上传时间</th>
					<th class="active">下载</th>
					<tr th:each="material : ${materialsList}">
						<td><a href="#" th:text="${material.name}" th:onclick="|switchPages('/learning/materialLook',${material.id})|"></a></td>
						<td th:text="${material.introduction}"></td>
						<td th:text="${#dates.format(material.createTime,'yyyy-MM-dd hh:mm')}"></td>
						<td><a href="#" th:href="@{${material.fileUrl}}" style="color: red;">down</a></td>
					</tr>
				</table>
				<nav aria-label="Page navigation" class="pagination-1">
					<ul class="pagination">
						<li th:if="${pageDTO.currentSize != 1}">
							<a href="#"  th:onclick="|asynGetMaterial(${pageDTO.currentSize-1},'-1',${materialsList[0].status},'download::download')|">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:each="i:${#numbers.sequence(1, pageDTO.pages)}" th:class="${pageDTO.currentSize== i}?'active': '' "><a href="#" th:onclick="|asynGetMaterial(${i},${pageDTO.currentSize},${materialsList[0].status},'download::download')|" th:text="${i}"></a></li>
						<li th:if="${pageDTO.currentSize != pageDTO.pages}">
							<a href="#"  th:onclick="|asynGetMaterial(${pageDTO.currentSize+1},'-1',${materialsList[0].status},'download::download')|">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	<script src="/js/jquery-3.2.1.min.js" ></script>
	<script>
		 // 跳转到查看资料页面
		 function switchPages(url,param){
		 	 window.parent.switchPage(url,param);
	     }

		 // 异步加载分页数据
		 function asynGetMaterial(currentSize,b,type,url) {
			 // 判断点击的是否是当前页，如果是前端就拒绝不要跑后端了
			 if (currentSize==b){
				 return false;
			 }
			 $.post("/learning/download/asynGetMaterial",{currentSize:currentSize,type:type,url:url},function (data) {
					 $("#download").html(data);
			 })
		 }
	</script>
	</body>
</html>
