<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<title>私信详情</title>
		<link rel="stylesheet" href="/css/bootstrap.min2.css"   />
		<link rel="stylesheet" href="/css/global.css"   />
		<link rel="stylesheet" href="/css/letter.css"   />
	</head>
	<body>
		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<h6><b class="square"></b> 来自 <i class="text-success" th:text="${username}"></i> 的私信</h6>
					</div>
					<div class="col-4 text-right">
						<button type="button" class="btn btn-secondary btn-sm" onclick="switchPage('learning/interactive/1')">返回</button>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#sendModal">给TA私信</button>
					</div>
				</div>
				<!-- 弹出框 -->
				<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">发私信</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">发给：</label>
										<input type="hidden" id="userId" th:value="${userId} ">
										<input type="text" disabled="disabled" class="form-control" id="recipient-name" th:value="${username}" >
									</div>
									<div class="form-group">
										<label for="content" class="col-form-label">内容：</label>
										<textarea class="form-control" id="content" rows="10"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="sendBtn">发送</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 私信列表 -->
				<ul class="list-unstyled mt-4">
					<li class="media pb-3 pt-3 mb-2"  th:each="messages : ${messageList}">
						<div class="toast show d-lg-block" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header">
								<strong class="mr-auto" th:if="${messages.fromId == session.user.id}">我</strong>
								<strong class="mr-auto" th:if="${messages.fromId != session.user.id}" th:text="${username}"></strong>
								<small th:text="${#dates.format(messages.createTime,'yyyy-MM-dd hh:mm')}"></small>
								<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="toast-body" th:text="${messages.content}">
							</div>
						</div>
					</li>														
				</ul>
				<!-- 分页 -->
				<nav class="mt-5">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${pageDTO.currentSize!=1}">
							<a class="page-link" href="#" th:onclick="switchPages('/learning/interactiveDetail',1,[[${conversationId}]])" >首页</a>
						</li>
						<li th:class=" ${pageDTO.currentSize== 1}?'page-item disabled': 'page-item'">
							<a class="page-link" href="#" th:onclick="switchPages('/learning/interactiveDetail',[[${pageDTO.currentSize-1}]],[[${conversationId}]])">上一页</a>
						</li>
						<li th:class="${pageDTO.currentSize== i}?'page-item active': 'page-item'" th:each="i:${#numbers.sequence(1, pageDTO.pages)}">
							<a class="page-link" th:onclick="switchPages('/learning/interactiveDetail',[[${i}]],[[${conversationId}]]);" th:text="${i}"></a>
						</li>
						<li th:class=" ${pageDTO.currentSize== pageDTO.pages}?'page-item disabled': 'page-item'">
							<a class="page-link" th:onclick="switchPages('/learning/interactiveDetail',[[${pageDTO.currentSize+1}]],[[${conversationId}]])"  href="#">下一页</a>
						</li>
						<li class="page-item "th:if="${pageDTO.currentSize!=pageDTO.pages}">
							<a class="page-link" href="#" th:onclick="switchPages('/learning/interactiveDetail',[[${pageDTO.pages}]],[[${conversationId}]])">末页</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<script src="/js/jquery-3.3.1.min.js" ></script>
		<script src="/js/popper.min.js" ></script>
		<script src="/js/bootstraps.min.js" ></script>
		<script src="/js/global.js" ></script>
		<script src="/js/letter.js" ></script>
		<script>
			 function switchPage(url){
			 	 window.parent.switchPages(url);
		     }
			 function switchPages(url,param,aa){
				 url=url+"/"+aa
				 window.parent.switchPage(url,param);
			 }

			 // 发送信息
			 $("#sendBtn").click(function () {
				 var userid  =  $("#userId").val();
				 var content = $("#content").val();
				 $.post('/learning/sendMessage',
						 {
							 userid  : userid,
							 content : content
						 },
						 function (data) {
							 if (data.code == 0){
								 $("#content").val("");
							 }
							 window.location.reload();
							 alert(data.msg);
						 }
				 );
			 });
		</script>
	</body>
</html>
